PORT=5000
MONGODB_URI=mongodb+srv://bhargavpasupuleti5_db_user:bhargav1122@reviews.b2cffr4.mongodb.net/?appName=Reviews
FRONTEND_URL=http://localhost:3000

# For production MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/reviewslotbooking?retryWrites=true&w=majority

# OTP Email (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bhargavpasupuleti5@gmail.com
SMTP_PASS=lrnq uuuu udlf fryd
